<div ng-controller="usuario_config_menuCTRL">
    
    <ul class="nav nav-tabs nav-stacked main-menu" >
        <li ng-repeat="option in userMenu">
            <a ng-href="#/menu/{{option.cod}}">
                <i class="{{option.icon}}"></i>
                <span class="hidden-tablet">{{option.title}}</span>
            </a>
        </li>
    </ul>
    <hr/>
    <ul class="nav nav-tabs nav-stacked main-menu" >
        <li ng-repeat="option in options">
            <a ng-href="#/menu/{{option.cod}}">
                <i class="{{option.icon}}"></i>
                <span>{{option.title}}</span>
            </a>
        </li>
    </ul>
    
</div>