<div>
    <div ng-show='itens.length'>
        <h2>{{options.title}}</h2>        
        <form name="myForm2">
            <table>
                <tr ng-repeat="(i,item) in itens">
                    <td ng-repeat="field in options.fields" ng-style="field.row['style']" ng-class="field.row['class']">
                        <input
                            type="{{field.type}}" 
                            ng-model='item[field.model]' 
                            ng-style="field.input['style']" 
                            ng-class="field.input['class']"
                            placeholder="{{field.placeholder}}"
                            ng-required="{{field.required}}"
                            ng-change="{{field['ngChange']}}"
                        >
                    </td>
                    <td>
                        <button ng-click="remove(item)" ng-show="isNotEmpty(i)"><i class='icon-trash'></i></button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>